@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply h-2 w-2;
}
::-webkit-scrollbar-thumb {
  @apply rounded-xl border-2 border-solid border-transparent bg-gray-500 bg-clip-padding;
}
::-webkit-scrollbar-thumb:hover {
  @apply border-0;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

html,
body {
  @apply h-full;
}
html {
  overflow-y: overlay;
}

html body {
  background: linear-gradient(
    90deg,
    #ffdbfe,
    #abdfff,
    #243b55,
    #141e30,
    #000241,
    #33004e
  );
  background-size: 600%;
  background-position: 0%;
  transition: background-position 1000ms;
}

html.dark body {
  background-position: 100%;
}

html.light .bg-gradient-transform {
  background-position: 0%;
}
html .bg-gradient-transform {
  background: linear-gradient(
    90deg,
    #ffdbfe,
    #abdfff,
    #243b55,
    #141e30,
    #000241,
    #33004e
  );
  background-size: 600%;
  background-position: 50%;
  transition: background-position 1000ms;
}
html.dark .bg-gradient-transform {
  background-position: 100%;
}
