.nav-button {
  @apply flex cursor-pointer items-center rounded-md py-2  md:px-4 xl:px-5;
}

.nav-button.selected {
  background: linear-gradient(90deg, #33b1ff, #bc4aff, #bc4aff, #33b1ff);
  background-size: 200%;
  background-position: 0%;
  transition: background-position 500ms;
  @apply text-white;
}
.nav-button:hover {
  background: linear-gradient(90deg, #33b1ff, #bc4aff, #bc4aff, #33b1ff);
  background-size: 200%;
  background-position: 100%;
  transition: background-position 500ms;
  @apply text-white;
}

.nav-button.expanded {
  background: transparent;
  @apply pl-4;
}
.nav-button.expanded.selected {
  background: transparent;
  @apply text-[#33b1ff];
}
.nav-button.expanded:hover {
  background: transparent;
  @apply text-[#33b1ff];
}

.footer {
  width: inherit;
  max-width: inherit;
  @apply fixed bottom-0 z-40 bg-white/20 backdrop-blur-sm lg:hidden;
}

.footer-nav {
  @apply my-4 flex justify-around gap-5;
}
